body, html {
    height: 80%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}
.login-container img {
    width: 100px;
    margin-bottom: 20px;
}
.login-container input {
    margin-bottom: 15px;
}

